---
import Layout from "@/layouts/Layout.astro";
import DeckDetailView from "@/components/decks/DeckDetailView";

export const prerender = false;

const deckId = Astro.params.deckId;

if (!deckId) {
  throw new Error("Deck ID is required");
}

const pageTitle = `Talia ${deckId} | LinguaPairs`;
---

<Layout title={pageTitle}>
  <main class="min-h-screen bg-background">
    <div class="mx-auto w-full max-w-4xl px-4 py-10">
      <DeckDetailView deckId={deckId} client:load />
    </div>
  </main>
</Layout>
